<!-- <div class="col-6 kartica5 bg-white" *ngFor="let new of news">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title>{{new.title}}</mat-card-title><div></div>
                </mat-card-header>
                <img mat-card-image src="{{new.urlToImage}}" class="image">
                <mat-card-content>
                  <p>
                    {{new.description}}
                  </p>
                </mat-card-content>
              </mat-card>   
        </div>
        </div>
    </div> -->
<div class="main-content pocetni" >
<div class="row">
    <div class="card" *ngFor="let new of news" >
    
    
      <h4 class="card-title">{{new.title}}</h4>
      <img
      src="{{new.urlToImage}}"
      class="card-img-top"
      alt="..."
    />
      <h5>
        {{new.description}}
      </h5>
    </div>
  </div>
</div>